
<div class="container animated fadeIn">
  <div class="row">
    <div class="col"></div>
    <div class="col-9 col-sm-12" style="padding-top:9px">


      <!-- Card -->
      <div class="card">

        <!-- Card body -->
        <div class="card-body">

          <!-- Material form register -->
          <form [formGroup]="forma" (ngSubmit)="guardarCambiosFormulario()" novalidate="novalidate" autocomplete="off">
            <p class="h4 text-center py-4">Registro</p>

            <!-- Username -->
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" id="username" class="form-control" formControlName="user">
              <label for="username" class="font-weight-light">User</label>
              <!--<span *ngIf="!forma.controls['user'].valid" class="badge badge-danger"><i class="fa fa-info" aria-hidden="true"></i></span>-->
            </div>

            <!-- First Name -->
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" id="first_name" class="form-control" formControlName="first_name">
              <label for="first_name" class="font-weight-light">First Name</label>
            </div>

            <!-- Last Name -->
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" id="last_name" class="form-control" formControlName="last_name">
              <label for="last_name" class="font-weight-light">Last Name</label>
            </div>

            <!-- Email -->
            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="email" id="email" class="form-control" formControlName="email">
              <label for="email" class="font-weight-light">Email</label>
            </div>

            <!-- Password -->
            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input type="password" id="password" class="form-control" formControlName="password">
              <label for="password" class="font-weight-light">Password</label>
            </div>

            <!-- Repeat Password -->
            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input type="password" id="repeat_password" class="form-control" formControlName="repeat_password">
              <label for="repeat_password" class="font-weight-light">Repeat Password</label>
            </div>

            <div class="text-center py-4 mt-3">
              <button class="btn"
                      [ngClass]="{ 'btn-danger':forma.invalid, 'disabled': forma.invalid, 'btn-success':forma.valid }"
                      type="submit">Register</button>
            </div>
          </form>
          <!-- Material form register -->

        </div>
        <!-- Card body -->

      </div>
      <!-- Card -->


    </div>
    <div class="col"></div>

  </div>
</div>
