<div class="container">
  <div class="row">

    <div class="col"> </div>
    <div class="col-10" style="padding-top: 10px;">

      <div class="card">
        <div class="text-center" style="margin: 10px;">
          <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
               class="img-fluid rounded-circle hoverable z-depth-1" alt="Responsive image"
               style="width: 30%">
        </div>

        <div class="card-body">

          <form>
            <p class="h4 text-center py-4">My Profile</p>

            <!-- Material input Firstname -->
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <!--<input type="text" id="materialFormCardNameEx" class="form-control">-->
              <!--<label for="materialFormCardNameEx" class="font-weight-light">First Name</label>-->
              <label for="defaultFormLoginEmailEx" class="grey-text">Your email</label>
              <input type="email" id="defaultFormLoginEmailEx" class="form-control">
            </div>

            <!-- Material input email -->
            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="email" id="materialFormCardEmailEx" class="form-control">
              <label for="materialFormCardEmailEx" class="font-weight-light">Email</label>
            </div>

            <!-- Material input Country -->
            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input type="text" id="materialFormCardPasswordEx" class="form-control">
              <label for="materialFormCardPasswordEx" class="font-weight-light">Country</label>
            </div>

            <!-- Material input City -->
            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input type="text" id="materialFormCardPasswordEx2" class="form-control">
              <label for="materialFormCardPasswordEx2" class="font-weight-light">City</label>
            </div>

          </form>
        </div>
        <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
      </div>


    </div>
    <div class="col"></div>
  </div>
</div>
