/* You can add global styles to this file, and also import other style files */
.ImageCartShopping{
  width: 90px;
  height: 70px;
}

.badge{
  cursor: pointer;
}
.iconCarrito{
  font-size: 20px;
}
.textCarrito{
  font-size: 16px;
}
.numeroCarrito{
  font-size: 15px;
}
/*.md-form input[type=text]:focus:not([readonly]){*/
  /*!*-webkit-box-shadow: red;*!*/
  /*box-shadow: red;*/
  /*border-bottom: red;*/
/*}*/
.alturaLoginParaFooter{
  height: 426px;
}
